<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.shuangyulin.mapper.CommentMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加评论记录 -->
	<insert id="addComment" parameterType="comment">
		insert into t_comment(scenicObj,commentContent,userObj,commentTime) values 
		(#{scenicObj.scenicId},#{commentContent},#{userObj.user_name},#{commentTime})
	</insert>

	<!-- 按照查询条件分页查询评论记录 -->
	<select id="queryComment" resultMap="commentMap" >
		select t_comment.* from t_comment,t_scenic,t_userInfo ${where} and t_comment.scenicObj = t_scenic.scenicId and t_comment.userObj = t_userInfo.user_name limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="commentMap" type="comment">
        <id property="commentId" column="commentId" />
        <association property="scenicObj" column="scenicObj" select="com.shuangyulin.mapper.ScenicMapper.getScenic" />
        <association property="userObj" column="userObj" select="com.shuangyulin.mapper.UserInfoMapper.getUserInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有评论记录 -->
	<select id="queryCommentList" resultMap="commentMap" >
		select t_comment.* from t_comment,t_scenic,t_userInfo ${where} and t_comment.scenicObj = t_scenic.scenicId and t_comment.userObj = t_userInfo.user_name
	</select>

    <!-- 按照查询条件的评论记录数 -->
	<select id="queryCommentCount" resultType="int">
		select count(*) from t_comment,t_scenic,t_userInfo ${where} and t_comment.scenicObj = t_scenic.scenicId and t_comment.userObj = t_userInfo.user_name
	</select>

	<!-- 根据主键查询某个评论记录 -->
	<select id="getComment" parameterType="int" resultMap="commentMap">
		select * from t_comment where t_comment.commentId = #{commentId}
	</select>

	<!-- 更新评论记录 -->
	<update id="updateComment" parameterType="comment">
		update t_comment set scenicObj=#{scenicObj.scenicId},commentContent=#{commentContent},userObj=#{userObj.user_name},commentTime=#{commentTime} where commentId = #{commentId}
	</update>

	<!-- 删除评论记录 -->
	<delete id="deleteComment" parameterType="int">
		delete from t_comment where commentId=#{commentId}
	</delete>

</mapper>
