<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.shuangyulin.mapper.ScenicTypeMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加景点分类记录 -->
	<insert id="addScenicType" parameterType="scenicType">
		insert into t_scenicType(typeName) values 
		(#{typeName})
	</insert>

	<!-- 按照查询条件分页查询景点分类记录 -->
	<select id="queryScenicType" resultMap="scenicTypeMap" >
		select t_scenicType.* from t_scenicType ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="scenicTypeMap" type="scenicType">
        <id property="typeId" column="typeId" />
    </resultMap>

    <!-- 按照查询条件查询所有景点分类记录 -->
	<select id="queryScenicTypeList" resultMap="scenicTypeMap" >
		select t_scenicType.* from t_scenicType ${where}
	</select>

    <!-- 按照查询条件的景点分类记录数 -->
	<select id="queryScenicTypeCount" resultType="int">
		select count(*) from t_scenicType ${where}
	</select>

	<!-- 根据主键查询某个景点分类记录 -->
	<select id="getScenicType" parameterType="int" resultMap="scenicTypeMap">
		select * from t_scenicType where t_scenicType.typeId = #{typeId}
	</select>

	<!-- 更新景点分类记录 -->
	<update id="updateScenicType" parameterType="scenicType">
		update t_scenicType set typeName=#{typeName} where typeId = #{typeId}
	</update>

	<!-- 删除景点分类记录 -->
	<delete id="deleteScenicType" parameterType="int">
		delete from t_scenicType where typeId=#{typeId}
	</delete>

</mapper>
